<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sol.admin.modules.system.mapper.SysPermissionMapper">

    <update id="delAll" parameterType="java.util.List">
        update sys_permission
        set is_deleted = 1
        where name in
        <foreach item="name" collection="list" open="(" separator="," close=")">
            #{name}
        </foreach>
    </update>

    <select id="getTags" resultType="io.swagger.v3.oas.models.tags.Tag">
        select name ,description from sys_permission where type = 0
--             where is_deleted = 0
    </select>
    <select id="getPermissionByRoleId" resultType="com.sol.admin.modules.system.entity.SysPermission">
        select sy.* from sys_permission sy left join sys_role_permission srp on sy.id = srp.permission_id where srp.role_id = #{roleId}
    </select>
</mapper>
